/* GLOBAL*/
* {
  box-sizing: border-box;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: "Opans Sans","Arial",sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #444;
  background-color: white;
}
*:focus {
  outline: 2px dotted #de2e54 ;
  outline-offset: 2px;
}
/*CONTAINER*/
.container {
  width: 100%;
  max-width: 1160;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
/* site header*/
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* site logo*/
.site-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}
.site-logo:hover {
  color: #de2e54;
}
.site-logo:active {
  opacity: 0.6;
}
.site-logo-img {
  margin-right: 16px;
}
/* sitenav*/
.sitenav {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
  list-style: none;
}
.sitenav-item:not(:last-child) {
  margin-right: 32px;
}
.sitenav-link {
  display: block;
  color: #222;
  text-decoration: none;
}
.sitenav-link:hover {
  color: #de2e54;
}
.sitenav-link:active {
  opacity: 0.6;
}
/* maon link*/
.main-link {
  display: inline-block;
  border-radius: 8px;
  padding: 10px 22px;
  border: 2px solid #de2e54;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed" ,"Arial",sans-serif;
  background-color: #de2e54;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.main-link:hover {
  border-color: #de2e54;
  background-color: #fff;
  color: #de2e54;
}
.main-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}