/* GLOBAL*/
* {
  box-sizing: border-box;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: "Opans Sans","Arial",sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #444;
  background-color: white;
}
*:focus {
  outline: 2px dotted #de2e54 ;
  outline-offset: 2px;
}
/*CONTAINER*/
.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
/* site header*/
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* site logo*/
.site-logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}
.site-logo-site-footer {
  color: #fff;
}


.site-logo:hover {
  color: #de2e54;
}
.site-logo:active {
  opacity: 0.6;
}
.site-logo-site-footer:active  {
  color: #fff;
}
.site-logo-img {
  margin-right: 16px;
  border-radius: 50%;
}
/* sitenav*/
.sitenav {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
  list-style: none;
}
.sitenav-item:not(:last-child) {
  margin-right: 32px;
}
.sitenav-link {
  display: block;
  color: #222;
  text-decoration: none;
}
.sitenav-link:hover {
  color: #de2e54;
}
.sitenav-link:active {
  opacity: 0.6;
}
.sitenav-site-footer .sitenav-link {
  color: #fff;
}
.sitenav-site-footer .sitenav-link:hover {
  color: #de2e54;
}
.sitenav-site-footer .sitenav-link:active {
  color: #fff;
}
/* main link*/
.main-link {
  display: inline-block;
  border-radius: 8px;
  padding: 10px 22px;
  border: 2px solid #de2e54;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Roboto Condensed" ,"Arial",sans-serif;
  background-color: #de2e54;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.main-link:hover {
  border-color: #de2e54;
  background-color: #fff;
  color: #de2e54;
}
.main-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}
.main-link-solid:hover {
  border-color: transparent;
  background-color: rgba(222,46,84,0.8);
  color: #fff;
}
.main-link-solid:active {
  background-color: rgba(222,46,84,0.6);
  opacity: 1;
}


/* hero */
.hero {
  background-color: #0eb4c1;
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-content {
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-heading {
  margin-top: 0%;
  font-family: "Open Sans", "Arial",sans-serif;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.hero-text {
  width: 440px;
  margin-top: 0%;
  margin-bottom: 36px;
}
.hero-img {
  align-self: flex-end;
  /* align-self bu faqatgina bir elemtni pastga yoki center yoki yuqoriga positionini o'zgartirush uchun ishlatiladi*/
}

/* site footer*/
.site-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
}
.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}